//LOCATE COMP "clk_12mhz" SITE "A10";
//IOBUF PORT "clk_12mhz" IO_TYPE=LVCMOS33;

LOCATE COMP "reset_n" SITE "P4";
IOBUF PORT "reset_n" IO_TYPE=LVCMOS33;

LOCATE COMP "led_n[0]" SITE "A13";
LOCATE COMP "led_n[1]" SITE "A12";
LOCATE COMP "led_n[2]" SITE "B19";
LOCATE COMP "led_n[3]" SITE "A18";
LOCATE COMP "led_n[4]" SITE "B18";
LOCATE COMP "led_n[5]" SITE "C17";
LOCATE COMP "led_n[6]" SITE "A17";
LOCATE COMP "led_n[7]" SITE "B17";

IOBUF PORT "led_n[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "led_n[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "led_n[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "led_n[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "led_n[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "led_n[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "led_n[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "led_n[7]" IO_TYPE=LVCMOS25;

//LOCATE COMP "lcd_db[4]" SITE "K2";
//LOCATE COMP "lcd_db[5]" SITE "A15";
//LOCATE COMP "lcd_db[6]" SITE "H2";
//LOCATE COMP "lcd_db[7]" SITE "J4";
//LOCATE COMP "lcd_en" SITE "J3";
//LOCATE COMP "lcd_rs" SITE "L4";

//IOBUF PORT "lcd_db[4]" IO_TYPE=LVCMOS33;
//IOBUF PORT "lcd_db[5]" IO_TYPE=LVCMOS33;
//IOBUF PORT "lcd_db[6]" IO_TYPE=LVCMOS33;
//IOBUF PORT "lcd_db[7]" IO_TYPE=LVCMOS33;
//IOBUF PORT "lcd_en" IO_TYPE=LVCMOS33;
//IOBUF PORT "lcd_rs" IO_TYPE=LVCMOS33;

LOCATE COMP "spis_miso" SITE "C14";
LOCATE COMP "spis_mosi" SITE "P1";
LOCATE COMP "spis_sck" SITE "D14";
LOCATE COMP "spis_ss" SITE "K4";

IOBUF PORT "spis_miso" IO_TYPE=LVCMOS33;
IOBUF PORT "spis_mosi" IO_TYPE=LVCMOS33;
IOBUF PORT "spis_sck" IO_TYPE=LVCMOS33;
IOBUF PORT "spis_ss" IO_TYPE=LVCMOS33;
